.edit-page {
    margin: auto;
    margin-top: 50px;
}

.editPetHeader {
    text-align: center;
    padding:30px;
}

.editPetBtn {
    padding:10px;
    border: none;
    background-color: red;
    color:white;
    margin: auto auto;
}

#edit {
    width:40%;
    margin: auto;
    border-radius: 10px;
    border: 2px solid red;
    padding: 20px 40px 20px 40px;
}