.edit-page {
    margin: auto;
    margin-top: 20px;
}

.editPetHeader {
    text-align: center;
    padding:30px;
}

.editPetBtn {
    padding:10px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color:white;
    margin: auto auto;
}

.editPetBtn:hover {
    cursor: pointer;
    background-color: rgb(65, 1, 10);
}

#edit {
    width:40%;
    background-color: grey;
    color:white;
    margin: auto;
    border-radius: 10px;
    border: 2px solid red;
    padding: 20px 40px 20px 40px;
}