.edit-page {
    width: 40%;
    margin: auto;
    margin-top: 50px;
}

.editPetHeader {
    text-align: center;
    padding:30px;
}

.editPetBtn {
    padding:10px;
    border: none;
    background-color: red;
    color:white;
}