.pet-account {
    margin-left: 100px;
}

.ownerDiv {
    padding:10px;
    border: none;
    margin: auto auto;
} 

.ownerBtn {
    background-color: red;
    color: white;
    padding:10px;
    border: none;
    margin: 10px;
}

.ownerBtn a {
    text-decoration: none;
    color:white;
}

.ownerBtn:hover{
    cursor: pointer;
    background-color: rgb(65, 1, 10);
}  

