.pet-account {
    margin:50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: auto;
    font-family: arial;
    border-radius: 5px;
    margin-top: 30px;
}

.petAccount-name {
    margin: auto;
}

.pet-details {
    margin-left: 0px;
}

.actionsDiv {
    background-color: grey;
    border:none;
    border-radius: 5px;
    width:100%;
    display: inline-block;
}

.ownerBtn {
    background-color: red;
    color: white;
    padding:10px;
    border: none;
    border-radius: 5px;
    margin:10px;
}

.ownerBtn a {
    text-decoration: none;
    color:white; 
}

.ownerBtn:hover{
    cursor: pointer;
    background-color: rgb(65, 1, 10);
} 

#delBtn {
    margin-left:10px;
}

.petAccount-name {
    text-align: left;
}

.petAccount-pic {
    width:100%;
    max-height: 400px;
    border: none;
}



.owner-buttons {
    display:inline-block;
}

.go-back {
    display: inline;
}


