.pet-account {
    margin-top: 50px;
    margin-left: 100px;
}

.ownerBtn {
    background-color: red;
    color: white;
    padding:10px;
    border: none;
    border-radius: 5px;
    margin:10px;
}

.ownerBtn a {
    text-decoration: none;
    color:white; 
}

.ownerBtn:hover{
    cursor: pointer;
    background-color: rgb(65, 1, 10);
} 

#delBtn {
    margin-left:10px;
}

.petAccount-name {
    text-align: left;
}

.petAccount-pic {
    width:20%;
    max-height: 20%;
    border: none;
    border-radius: 5%;
}

.actionsDiv {
    background-color: grey;
    border:none;
    border-radius: 5px;
    width:20%;
}


