.help-header {
    text-align: center;
}

.post-btn {
    background-color: greenyellow;
}

.problem {
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
