.help-header {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.post-btn {
    background-color: rgb(53, 189, 0);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}