.help-header {
    text-align: center;
}

.post-btn {
    background-color: rgb(53, 189, 0);
}

.problem {
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
