.card {
    margin: 20px;
}

li {
    list-style: none;
}

.profile-pic {
    width:200px;
    border:none;
    border-radius: 5px;
}

.add-photo {
    display: block;
    padding:10px;
    border:none;
    border-radius: 5px;
    background-color:rgb(53, 189, 0);
    margin-top: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.add-photo a {
    text-decoration: none;
    color: white;
}

.add-photo:hover {
    cursor: pointer;
    background-color: rgb(65, 1, 10);
}

.card {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}