.account-buttons {
    padding: 10px;
    margin:10px;
    background-color: rgb(53, 189, 0);
    color:white;
    border:none;
    display: block;
    border:none;
    border-radius: 5%;
}

.account-buttons a {
    text-decoration: none;
    color:white;
}

.account-buttons:hover {
    cursor: pointer;
    background-color: rgb(65, 1, 10);
}

.pet-item {
    
    margin: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.petitem-pic {
    width:10%;
    border:none;
    border-radius: 5%;
}

.catalog-pic {
    border: none;
    border-radius: 5%;
}

#pet-name {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
