.account-buttons {
    padding: 10px;
    margin:10px;
    background-color: red;
    color:white;
    border:none;
    display: block;
}

.account-buttons a {
    text-decoration: none;
    color:white;
}

.account-buttons:hover {
    cursor: pointer;
    background-color: rgb(65, 1, 10);
}

.pet-item {
    margin: 10px;
}

.petitem-pic {
    width:10%;
}
