.account-buttons {
    padding: 10px;
    margin:10px;
    background-color: red;
    color:white;
    border:none;
}

.account-buttons:hover {
    cursor: pointer;
    background-color: rgb(65, 1, 10);
}
