.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-links {
    display: inline;
    float:left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#logo {
    background-color: rgb(53, 189, 0);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-links a {
    display: inline;
    float:left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-links a:hover {
    background-color: #111;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-username {
    float:right;
    margin-right: 20px;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header-username {
    float:right;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

