.catalog-pets {
    text-align: center;
}

#catalog-page {
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
    flex-direction: row;
}

@media (max-width: 800px) {
    #catalog-page {
        flex-direction: column;
        flex: 100%;
    }
}
