.post-comment {
    margin-left: 40px;
}

.post-problem {
   color: white;
   font-weight: 100;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   padding:10px;
   background-color:#333;
   border: 2px solid rgb(53, 189, 0);;
   border-radius: 5px;
   width: 40%;
}

.account-buttons {
    background-color: rgb(53, 189, 0);;
}
