body {
  margin:0;
}

.footer {
  list-style-type: none;
  margin: auto auto;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer-links {
  display: inline;
}

.footer-links a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.footer-links a:hover {
  background-color: #111;
}

.footer-logo {
  display: inline;
  color:white;
}