.comment-li {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#comment-username {
    display: block;
    padding:5px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
    border: 1px solid rgb(53, 189, 0);
    border-radius: 5px;
}

#comment-text {
    display: block;
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid rgb(53, 189, 0);;
    border-radius: 5px;
    width: 40%;
    height: 50px;
}

.addComment-div {
    margin-top: 0px;
}

.post-btn {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


