#create {
    width:40%;
    margin: auto;
    border-radius: 10px;
    border: 2px solid red;
    padding: 20px 40px 20px 40px;
    background-color: grey;
    color:white;
}

.parameters {
    margin-bottom:10px;   
    display: block;
    height:30px;
    width: 200px;
    padding:2px;
    padding-left: 5px;
    border:1px solid red;
    border-radius: 2px;
}

.addPetBtn {
    padding:10px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color:white;
}

.addPetHeader {
    text-align: center;
    padding:30px;
}
