#create {
    width:40%;
    margin: auto;
    border-radius: 10px;
    border: 2px solid rgb(53, 189, 0);
    padding: 20px 40px 20px 40px;
    background-color: #333;
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.parameters {
    margin-bottom:10px;   
    display: block;
    height:30px;
    width: 200px;
    padding:2px;
    padding-left: 5px;
    border:1px solid rgb(53, 189, 0);;
    border-radius: 2px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.addPetBtn {
    padding:10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(53, 189, 0);;
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.addPetHeader {
    text-align: center;
    padding:30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}