.adviceslist-header {
    text-align: center;
}

.adviceslist-post {
    margin-left: 40px;
}

.problem-form {
    margin-left: 40px;
}

#problem {
    width:40%;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid red;
    color: black;
    background-color: white;
}

.post-btn {
    display:block;
    padding:10px;
    border:none;  
    border-radius: 5px;
    background-color: red;
    margin-top: 5px;
    color: white;
    text-decoration: none;
}

.post-btn:hover {
    cursor: pointer;
    background-color: rgb(65, 1, 10);
}

.catalog-posts {
    text-align: center;
}

#advices-page {
    margin:40px;
}